---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Decenber 15 2024')}
	heroImage="/official/Designer.jpg"
>
	<p>
		こんにちわ！川上泰正といいます。<br>・webエンジニア(フロントエンド)<br>・アプリケーションエンジニア(モバイル)<br>・アニメ・漫画オタク
	</p>

	<h3>My skill</h3>
	<p>
		<li>Python</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Javascript</li>
		<li>Astro</li>
		<li>Flutter</li>
		<li>Ruby</li>
	</p>
	<br>

	<h3>My project</h3>
	<p>
		<li>Stophone</li>
		<li>Math Battle</li>
		<li>Web Chat</li>
		<li>伊川谷キタク部公式ホームページ</li>	
	</p>

	<p>
		弱弱エンジニアなので、Githubのリポジトリに上がっているコードめっちゃわかりにくいと思います...
	</p>
	<br>

	<h3>Favorite Anime</h3>

	<p>
		<li>無職転生〜異世界行ったら本気出す〜</li>
		<li>葬送のフリーレン</li>
		<li>宇宙兄弟</li>
		<li>鋼の錬金術師</li>
		<li>名探偵コナン</li>
		<li>ダンジョン飯</li>
		<li>五等分の花嫁</li>
		<li>カッコウの許嫁</li>
		<li>アオのハコ</li>
		<li>ぼっち・ざ・ろっく！</li>
		<li>暗殺教室</li>
		<li>こちら葛飾区亀有公園前派出所</li>
		<li>時々ボソッとロシア語でデレる隣のアーリャさん</li>
		<li>とんでもスキルで異世界放浪メシ</li>
		<li>ラーメン赤猫</li>
		<li>幼稚園WARS</li>
		<li>逆転無頼カイジ</li>
		<li>ゆるキャン△</li>
		<li>焼きたて!!ジャぱん</li>
	</p>
	<p>多すぎて書ききれない...<br>
		まだまだあるよ</p>
</Layout>
