---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello World!</h1>
			<h4>
				Welcome to Kawakami Taisei official Pages.  
			</h4>
			<h4>Who is Taisei?</h4>
			<p>
				I am a Japanese students.
			</p>
			<p>
				I am a programer.
			</p>
			<p>I am interesting Math and Science , Programing and so on.</p>
			<p>I developed there services.</p>
			<ul>
				<li><a href="https://github.com/KTaisei/stophone">Stophone</a></li>
				<li><a href="https://github.com/KTaisei/math_Battle">Math Battle</a></li>
				<li>Our Birthday</li>
			</ul>
			<p>
				I want to develop more project.
			</p>
			<p>
				<a href="/official/about">Show More</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
